/* Lifts */

.lift {
    top: 0; left: 0; width: 0; height: 0;
}

.platform {
    top: 0; left: 0; width: 0; height: 0;
    transform: translateY(0px);
    transition: transform 1s ease-in-out;

    &[data-state="lowered"] {
        transform: translateY(var(--offset));
    }
}
