
.switch::after {
    content: '';
    position: absolute;
    inset: 0;
    background-size: inherit;
    background-position: inherit;
    background-repeat: inherit;
    opacity: 0;
}

.switch[data-state=on]::after {
    opacity: 1;
}

.switch[data-texture="SW1BRCOM"]::after { background-image: url('/assets/textures/SW2BRCOM.png'); }
.switch[data-texture="SW1BRN1"]::after  { background-image: url('/assets/textures/SW2BRN1.png'); }
.switch[data-texture="SW1BRN2"]::after  { background-image: url('/assets/textures/SW2BRN2.png'); }
.switch[data-texture="SW1BRNGN"]::after { background-image: url('/assets/textures/SW2BRNGN.png'); }
.switch[data-texture="SW1BROWN"]::after { background-image: url('/assets/textures/SW2BROWN.png'); }
.switch[data-texture="SW1COMM"]::after  { background-image: url('/assets/textures/SW2COMM.png'); }
.switch[data-texture="SW1COMP"]::after  { background-image: url('/assets/textures/SW2COMP.png'); }
.switch[data-texture="SW1DIRT"]::after  { background-image: url('/assets/textures/SW2DIRT.png'); }
.switch[data-texture="SW1EXIT"]::after  { background-image: url('/assets/textures/SW2EXIT.png'); }
.switch[data-texture="SW1GRAY"]::after  { background-image: url('/assets/textures/SW2GRAY.png'); }
.switch[data-texture="SW1GRAY1"]::after { background-image: url('/assets/textures/SW2GRAY1.png'); }
.switch[data-texture="SW1METAL"]::after { background-image: url('/assets/textures/SW2METAL.png'); }
.switch[data-texture="SW1PIPE"]::after  { background-image: url('/assets/textures/SW2PIPE.png'); }
.switch[data-texture="SW1SLAD"]::after  { background-image: url('/assets/textures/SW2SLAD.png'); }
.switch[data-texture="SW1STARG"]::after { background-image: url('/assets/textures/SW2STARG.png'); }
.switch[data-texture="SW1STON1"]::after { background-image: url('/assets/textures/SW2STON1.png'); }
.switch[data-texture="SW1STON2"]::after { background-image: url('/assets/textures/SW2STON2.png'); }
.switch[data-texture="SW1STONE"]::after { background-image: url('/assets/textures/SW2STONE.png'); }
.switch[data-texture="SW1STRTN"]::after { background-image: url('/assets/textures/SW2STRTN.png'); }
