/* Sky */

#viewport {
    background:
        url('/assets/textures/SKY1.png') repeat-x top left / auto 70%;
    background-position-x: calc(var(--player-angle) * 163px), 0;
    image-rendering: pixelated;
}

#viewport::after {
    content: '';
    position: absolute;
    inset: 0;
    background: #222;
    opacity: 0;
    transition: opacity 0.5s 1s;
    pointer-events: none;
    z-index: -1;
}
